Building-Computer-Vision-Project.pdf filter=lfs diff=lfs merge=lfs -text
Kaehler_A__Bradski_G_-_Learning_OpenCV_3_Computer_Vision_in_C__with_the_OpenCV_Library_-_2017.pdf filter=lfs diff=lfs merge=lfs -text
Building[[:space:]]Computer[[:space:]]Vision[[:space:]]Projects[[:space:]]with[[:space:]]OpenCV[[:space:]]4[[:space:]]and[[:space:]]C++[[:space:]]by[[:space:]]David[[:space:]]Millán[[:space:]]Escrivá[[:space:]](z-lib.org).epub filter=lfs diff=lfs merge=lfs -text
